// Body
// $body-bg: #30c1b8;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: 'Prompt', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$secondary: #30c1b8;
$primary: #e7a108;
